<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-T5Z2TQCWBM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-T5Z2TQCWBM');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="googlebot" content="index,follow" />
    <meta name="title" content="{{title}}" />
    <meta name="description" content="{{description}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta name="description" content="{{description}}" />
    <link rel="stylesheet" href="{{'/public/css/styles.css' | url }}" />
    <script src="{{'/public/js/index.js'| url }}" defer></script>
    <title>{{title}}</title>
  </head>
  <body class="light">
    <header id="main-header-top">
      <div id="theme-button">
        <input type="checkbox" name="power" id="power" />
        <label for="power">
          <span class="on" style="font-size: 0.8rem">Dark Theme</span>
          <span class="off" style="font-size: 0.8rem">Light Theme</span>
        </label>
      </div>
      <h3>
        <a href="https://kashaan-m.github.io/blog">sharingTech</a>
      </h3>
    </header>
    <main>
      <section class="articles-wrapper">{{content}}</section>
    </main>
    <footer>
      <a href="https://github.com/Kashaan-M" class="link social-link">GitHub</a>
      <a
        href="https://www.linkedin.com/in/kashaan-mahmood-63a496a4/"
        class="link social-link"
        >LinkedIn</a
      >
    </footer>
  </body>
</html>
